.a_nav {
    min-height: 145px;
    width: 100vw;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    z-index: 100;
}

.a_nav .nav_left,
.nav_right {
    display: flex;
    align-items: center;
}

.a_nav .logo {
    display: flex;
    transition: all .5s ease;
}

.a_nav .symbol {
    background-color: #000;
    color: #fff;
    margin-left: 15px;
    font-size: 12px;
    letter-spacing: 3px;
    margin-right: -1px;
    text-shadow: 0 0 10px #FFFEF3;
    padding: 5px 15px 7px 17px;
    border-radius: 20px;
}

.a_nav .user {
    color: #000;
    letter-spacing: 3px;
    font-size: var(--fz18);
    font-weight: normal;
    margin-top: -8px;
}

.a_nav .user::after {
    content: " ";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: calc(100% - 3px);
    background-color: #000;
}

#logout {
    background-color: #000;
    color: #fff;
    margin-left: 15px;
    font-size: 12px;
    letter-spacing: 3px;
    border-radius: 20px;
    padding: 5px 17px 7px 20px;
    cursor: pointer;
}

@media only screen and (min-width: 0px) and (max-width: 843px) {
    .indi_del {
        display: block;
    }
}

@media only screen and (min-width: 0px) and (max-width: 430px) {
    .a_nav {
        padding: 0px 30px;
    }

    .a_nav .logo {
        width: 95px;
    }

    .a_nav .logo img {
        width: 100%;
    }

    .a_nav .symbol {
        text-shadow: 0 0 10px #FFFEF3;
        padding: 5px 10px 7px 12px;
        transform: scale(0.8);
        margin-left: 0;
    }

    .a_nav .user {
        margin-right: 0px;
        transform: scale(0.9);
    }

    #logout {
        margin-left: 8px;
    }
}