/* title / other */

.add-container .title,
.edit-container .title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    color: #000;
    transition: all .5s ease;
    font-size: 45px;
    text-align: left;
}

.add-container .title-text,
.edit-container .title-text {
    letter-spacing: 8px;
    margin-right: -6px;
    font-weight: 500;
}

.add-container,
.edit-container {
    overflow-x: hidden;
}

.show-open {
    overflow: hidden;
    height: 100%;
    ;
}


/* login */

.login-container {
    background-image: url("../assets/images/login_bg.png");
    background-size: cover;
    background-position: center;
    height: 62.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 676px;
    height: 530px;
    background-color: #000000;
    border-radius: 10px;
    opacity: 0.75;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 120px;
}

.login-container .login-title {
    font-size: var(--fz28);
    letter-spacing: 8px;
    filter: drop-shadow(0 0 5px #FFFEF3);
    color: #FFFEF3;
}

.login-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.login-container .input {
    height: 50px;
    width: 100%;
    border-radius: 12px;
    padding-left: 20px;
    font-size: var(--fz18);
    letter-spacing: 5px;
    color: #000;
    border: 0;

}

.login-input .input[type="email"] {
    margin-top: 50px;
    margin-bottom: 50px;
}

.login-container input:-ms-input-placeholder,
.login-container textarea:-ms-input-placeholder {
    color: #A1A1A1 !important;
}

.pass-eyes {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3%;
    width: 2.08vw;
    height: 2.08vw;
    max-width: 30px;
    max-height: 30px;
    background-size: contain;
    cursor: pointer;
    background-repeat: no-repeat;
}

.login-btn {
    color: #000;
    font-weight: normal;
    font-size: var(--fz18);
    letter-spacing: 5px;
    padding: 5px 27px 7px 30px;
    background: #fff;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
}

.login-container .login-btn {
    margin-top: 50px;

}

.login-btn:hover {
    background-color: #2C2C2C;
    color: #fff;
}

/* all */

.adminlist-container {
    background-color: #fff;
    padding: 25px 13.89vw 100px;
}

.add-link {
    width: 146px;
    display: block;
}

.add-btn {
    width: 146px;
    margin: 40px 0px 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    color: #000
}


.add-btn .imgsvg {
    width: 34px;
    height: 34px;
    background-color: rgba(0, 0, 0, 1);
    mask-image: url("../assets/images/all_plus.svg");
}

.add-btn:hover .imgsvg {
    background-color: #BFBFBF;
}

.add-btn .imgtext {
    font-weight: normal;
    font-size: var(--fz20);
    letter-spacing: 5px;
    margin: -2px -3px 0 15px;
}

.indi-arti {
    height: 75px;
    background-color: #F5F5F5;
    padding: 0 30px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: #000;
}

.indi-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.indi-title {
    font-size: var(--fz28);
    letter-spacing: 5px;
    font-weight: normal;
    margin-top: -3px;
}

.indi-category {
    background-color: #000;
    font-size: var(--fz18);
    letter-spacing: 3px;
    padding: 4px 23px 7px 25px;
    border-radius: 20px;
    color: #fff;
    margin: 1px 0 0 20px;
}

.indi-pin {
    width: 40px;
    height: 40px;
    mask-image: url("../assets/images/all_pin.svg");
    margin: 1px 0 0 20px;
}

.indi-del {
    width: 40px;
    height: 40px;
    mask-image: url("../assets/images/all_del.svg");
    margin: 1px 0 0 20px;
    background-color: #9E9E9E;
    display: none;
}

.indi-del:hover {
    background-color: #000;
}

.indi-arti:hover .indi-del {
    display: block;
}

.indi-publish {
    background-color: #000;
    font-size: 12px;
    letter-spacing: 3px;
    padding: 4px 16px 7px 18px;
    border-radius: 20px;
    color: #fff;
    margin-top: 1px;
}

.confirm {
    width: 100vw;
    height: 100vh;
    z-index: 110;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-box {
    width: 570px;
    height: 360px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

.confirm-title {
    font-size: 45px;
    letter-spacing: 8px;
    margin-right: -6px;
    font-weight: normal;

}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 700;
    padding: 4px 25px 7px 27px;
    border-radius: 40px;
    margin: 0 25px;
    color: #000;
    cursor: pointer;
    width: 106px;
    height: 46px;
    box-sizing: border-box;
}

.btn-no {
    background-color: #9F9F9F;
}

.btn-yes {
    background-color: #fff;
}

.btn-loading {
    background-color: #474747;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    animation-fill-mode: both;
    animation: load 1.8s infinite ease-in-out;
    color: #fff;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
    opacity: 0.8;
}

.btn-loading .loader {
    margin-top: -12px;
}

.loader:before {
    content: '';
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    animation-fill-mode: both;
    animation: load 1.8s infinite ease-in-out;
    left: -17px;
    animation-delay: -0.32s;
}

.loader:after {
    content: '';
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    animation-fill-mode: both;
    animation: load 1.8s infinite ease-in-out;
    left: 17px;
}

@keyframes load {

    0%,
    80%,
    100% {
        box-shadow: 0 8px 0 -6px;
    }

    45% {
        box-shadow: 0 8px 0 0;
    }
}

/* add */

.add-container,
.edit-container {
    background-color: #fff;
    padding: 25px 6.5vw 100px;
    color: #000;
}

.add-container input:-ms-input-placeholder,
.add-container textarea:-ms-input-placeholder {
    color: #9E9E9E !important;
}

.article-list {
    text-align: left;
    margin-top: 40px;
}

.article-title {
    padding: 10px 30px 14px;
    font-size: var(--fz28);
    letter-spacing: 5px;
    font-weight: normal;
    outline: none;
    border: none;
    background-color: #F5F5F5;
    border-radius: 8px;
    width: 100%;
}

#input-file{
    position: absolute;
    display: block;
    width: 200px;
    height: 45px;
    z-index: -10;
}

.article-img {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.article-img .imgsvg {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 1);
}

.article-img:hover .imgsvg {
    background-color: #BFBFBF;
}

.article-img .imgtext {
    font-weight: normal;
    font-size: var(--fz28);
    letter-spacing: 5px;
    margin: -4px -3px 0 15px;
}

.article-content {
    margin-top: 40px;
    padding: 25px 30px;
    font-size: var(--fz18);
    letter-spacing: 3px;
    font-weight: normal;
    outline: none;
    border: none;
    background-color: #F5F5F5;
    border-radius: 8px;
    width: 100%;
    text-align: left;
    min-height: 605px;
    resize: none;
}

.form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.article-category {
    color: #fff;
    text-align: left;
}

.category-input{
    position: absolute;
    top: 20px;
    left: 90px;
    height: 20px;
    z-index: -10;
}

.category-text {
    background-color: #BFBFBF;
    font-size: var(--fz18);
    letter-spacing: 3px;
    font-weight: normal;
    padding: 4px 23px 6px 25px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 30px;
}

.article-category input:checked+.category-text {
    background-color: #000;
}

.sub-btn {
    background-color: #000;
    font-size: var(--fz18);
    letter-spacing: 3px;
    font-weight: normal;
    padding: 4px 23px 6px 25px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.sub-btn:hover {
    background-color: #BFBFBF;
}

.form-bottom .btn-loading {
    background-color: #9F9F9F;
    color: #000;
    cursor: default;
    width: 90px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-bottom .btn-loading .loader {
    margin-top: -12px;
}

.form-bottom .btn-loading:hover {
    background-color: #9F9F9F;
}

@media only screen and (min-width: 0px) and (max-width: 834px) {
    .login-container {
        height: 95.5vw;
    }

    .adminlist-container {
        background-color: #fff;
        padding: 25px 6.5vw 100px;
    }

    .indi-title {
        font-size: 20px;
    }

    .indi-category {
        font-size: 16px;
        padding: 4px 16px 7px 18px
    }

    .indi-del {
        display: block;
    }
}

@media only screen and (min-width: 0px) and (max-width: 430px) {
    .login-card {
        width: 380px;
        height: 400px;
        padding: 50px 40px;
    }

    .pass-eyes {
        width: 5.5vw;
        height: 5.5vw;
    }

    .indi-arti {
        height: auto;
        padding: 25px;
    }

    .indi-left {
        flex-wrap: wrap;
        width: 240px;
    }

    .indi-title {
        flex-grow: 6;
        text-align: left;
        width: 230px;
    }

    .indi-category {
        margin: 15px 0 0 0;
    }

    .indi-pin,
    .indi-del {
        margin: 15px 0 0 20px;
    }

    .indi-publish {
        padding: 4px 8px 7px 10px;
    }

    .form-bottom {
        flex-direction: column;
        align-items: flex-end;
    }

    .article-category {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .category-text {
        padding: 4px 22px 6px 24px;
        margin-right: 0;
    }

    .sub-btn {
        width: 100%;
        margin-top: 50px;
        padding: 6px 23px 8px 25px;
    }

    .confirm-box {
        width: 380px;
        height: 250px;
    }

    .confirm-title {
        font-size: 35px;

    }

    .btn {
        font-size: 20px;
        padding: 7px 25px 7px 27px;

    }
}