/* title / other */

.article-container.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 0;
    filter: drop-shadow(0 0 5px #FFFEF3);
}

.article-container .title-top {
    font-size: 40px;
    letter-spacing: 15px;
    margin-right: -13px;
    font-weight: 400;
}

/* article */

.article-container {
    width: 78.13vw;
    max-width: 1125px;
    margin: 150px auto 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.article-category {
    background-color: #fff;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 700;
    padding: 4px 14px 6px 16px;
    border-radius: 20px;
    color: #000;
    margin-bottom: 20px;
}

.article-time {
    font-size: 12px;
    letter-spacing: 3px;
    margin-right: -1px;
    margin-top: 25px;
    line-height: 20px;
}

.article-content {
    text-align: left;
    font-size: var(--fz16);
    letter-spacing: 5px;
    margin-right: -3px;
    margin-top: 60px;
    line-height: 30px;
}

/* backnav */

.BackNav {
    width: 78.13vw;
    max-width: 1125px;
    margin: 6.94vw auto;
}

.backnav {
    display: flex;
    align-items: center;
}

.backnav img {
    margin-top: 5px;
    cursor: pointer;
}

.backnav p {
    padding-left: 15px;
    font-weight: normal;
    font-size: var(--fz30);
    letter-spacing: 8px;
    margin-right: -6px;
    cursor: pointer;
}

@media only screen and (min-width: 0px) and (max-width: 430px) {
    .article-container {
        margin-top: 100px;
    }

    .article-container .title-top {
        font-size: 30px;
        letter-spacing: 5px;
        margin-right: -3px;
    }
}