footer {
    min-height: 103px;
    width: 100%;
    padding: 0px 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    font-size: var(--fz14);
    font-weight: 700;
    letter-spacing: 3px;
    margin-right: -1px;
    text-shadow: 0 0 5px #FFFEF3;
}