/* title / other */

.game-container .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    filter: drop-shadow(0 0 5px #FFFEF3);
}

.game-container .title-top {
    font-weight: 300;
    font-size: 45px;
    letter-spacing: 15px;
    margin-right: -13px;
    font-weight: 400;
}

.game-container .title-bottom {
    font-size: 16px;
    font-weight: 100;
    margin-top: 5px;
}

.game-container .sister-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    filter: drop-shadow(0 0 5px #FFFEF3);
    opacity: 1;
    transition: all .5s ease;
    font-size: 38px;
    letter-spacing: 20px;
}

.game-container .sister-title-text {
    letter-spacing: 20px;
    margin: -8px 24px 0 42px;
}

.game-container .sister-title img {
    width: 2.36vw;
}

.game-container {
    overflow-x: hidden;
}

/* world */

.world-section {
    width: 100%;
    min-height: 40.76vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/images/world_bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
}


.world-section .title {
    margin-top: 100px;

}

.world-section .world-content {
    width: 54.86vw;
    max-width: 790px;
    font-size: var(--fz28);
    letter-spacing: 5px;
    margin-right: -3px;
    line-height: 75px;
    margin-top: 70px;
    filter: drop-shadow(0 0 5px #FFFEF3);
}

/* village */

.village-section {
    width: 100%;
    height: 55.56vw;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}

.village-section .village-content {
    width: 100%;
    max-width: 1440px;
    height: 48.61vw;
    max-height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 5%;
}

.village-section .village-item {
    width: 18.06vw;
    max-width: 260px;
    height: 18.06vw;
    max-height: 260px;
    transform: translateY(-100px);
}

.village-section #village-mossina {
    filter: drop-shadow(0 0 5px #FFFEF3);
}

.village-section #village-scale {
    filter: drop-shadow(0 0 5px #64C7FF);
}

.village-section #village-afeite {
    filter: drop-shadow(0 0 5px #FFCA42);
}

.village-section #village-tama {
    filter: drop-shadow(0 0 5px #FF645A);
}

.village-section .village-divider {
    left: 0;
    width: 2px;
    height: 10.07vw;
    max-height: 145px;
    background-image: none;
    border-left: solid 2px #fff;
    transition: all .5s ease;
    opacity: 0;
}

.village-section .village-bg {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: all .5s ease;
    width: 130%;
    opacity: 0;
}

.village-section .village-logo {
    height: 8.47vw;
    max-height: 125px;
    transition: all .5s ease;
    margin-bottom: 50px;
}

.village-section .village-english {
    font-size: var(--fz32);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    transition: all .3s .5s ease;
    letter-spacing: 3px;
    margin-right: -1px;
}

.village-section .village-description {
    width: 15.63vw;
    max-width: 225px;
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--fz18);
    letter-spacing: 3px;
    margin-right: -1px;
    line-height: 30px;
    opacity: 0;
    transition: all .2s ease;
}

.village-section .village-chinese {
    font-size: var(--fz14);
    margin-top: 0px;
    transition: all .3s .5s ease;
    letter-spacing: 3px;
    margin-right: -1px;
}

.village-section .village-item:hover .village-bg {
    opacity: 1;
}

.village-section .village-item:hover .village-logo {
    height: 4.24vw;
    max-height: 61px;
    margin-bottom: 30px;
    margin-top: -20px;
}

.village-section .village-item:hover .village-english {
    transition: all .3s .5s ease;
}

.village-section .village-item:hover .village-description {
    opacity: 1;
    transition: all .5s .5s ease;
    margin-top: 20px;
    margin-bottom: 120px;
}

.village-section .village-item:hover .village-chinese {
    transition: all .3s .5s ease;
}

/* sister */
.sister-section {
    margin: 200px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sisters {
    height: 69.44vw;
    max-height: 900px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("../assets/images/sister_bg.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    margin-top: 13.89vw;
}

.sister-card {
    flex-direction: column;
    margin-top: 80px;
    transform: translateY(-100px);
    display: flex;
    align-items: center;
}

.sister-img {
    margin-top: 65px;
    width: 38.47vw;
    max-width: 553px;
}

.sister-text-bg {
    margin-top: -65px;
    width: 38.47vw;
    max-width: 553px;
}

.sister-img .sister-text {
    position: absolute;
    width: 24.31vw;
    max-width: 350px;
    top: 0;
    /* transform: translate(-50%, -50%); */
    filter: drop-shadow(0 0 5px #FFFEF3);
    font-size: 2vw;
    letter-spacing: 5px;
    margin-right: -3px;
    line-height: 3.5vw;
    text-align: justify;
}

.sister-img .sister-text p {
    text-align: justify;
}

#cancel-elder {
    position: absolute;
    top: -13%;
    left: 0;
    width: 2.5vw;
}

#cancel-younger {
    position: absolute;
    top: -13%;
    right: 0;
    width: 2.5vw;
}

#text-elder {
    left: 23%;
    top: 10%;
}

#text-younger {
    left: 14%;
    top: 10%;
}

.click-point {
    cursor: pointer;
}

.click-point:hover {
    filter: drop-shadow(0 0 5px #FFFEF3);
}

.state {
    transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s;
    width: 38.47vw;
    max-width: 553px;
}

.state:hover {
    transform: scale(1.03);
}

.elder-fadeout {
    animation: rightfadeout 400ms ease-out;
    animation-fill-mode: forwards
}

.elder-fadein {
    animation: rightfadein 400ms ease-in;
    animation-fill-mode: forwards
}

@keyframes rightfadeout {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        transform: translateX(80px);
        opacity: 0;
        display: none;
    }
}

@keyframes rightfadein {
    0% {
        transform: translateX(80px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.younger-fadeout {
    animation: leftfadeout 400ms ease-out;
    animation-fill-mode: forwards
}

.younger-fadein {
    animation: leftfadein 400ms ease-in;
    animation-fill-mode: forwards
}

@keyframes leftfadeout {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        transform: translateX(-80px);
        opacity: 0;
    }
}

@keyframes leftfadein {
    0% {
        transform: translateX(-80px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.flip {
    animation-name: fadeout;
    animation-duration: 400ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards
}

.flip2 {
    animation-name: fadein;
    animation-duration: 400ms;
    animation-fill-mode: forwards
}

.flip-reverse {
    animation-name: fadein-reverse;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards
}

.flip2-reverse {
    animation-name: fadeout-reverse;
    animation-fill-mode: forwards
}

@keyframes fadeout {
    0% {
        transform: perspective(600px) rotateY(0deg);
    }

    100% {
        transform: perspective(600px) rotateY(90deg);
    }
}

@keyframes fadein {
    0% {
        transform: perspective(600px) rotateY(270deg);
    }

    100% {
        transform: perspective(600px) rotateY(360deg);
    }
}

@keyframes fadein-reverse {
    0% {
        transform: perspective(600px) rotateY(360deg);
    }

    100% {
        transform: perspective(600px) rotateY(270deg);
    }
}

@keyframes fadeout-reverse {
    0% {
        transform: perspective(600px) rotateY(90deg);
    }

    100% {
        transform: perspective(600px) rotateY(0deg);
    }
}

.sister-name-hidden {
    opacity: 0 !important;
}

/* RWD */

@media only screen and (min-width: 0px) and (max-width: 834px) {

    .game-container .title-top {
        font-size: 26px;
        letter-spacing: 8px;
        margin-right: -6px;
    }

    .game-container .title-bottom {
        font-size: 12px;
    }

    .game-container .sister-title {
        font-size: var(--fz20);
    }

    .game-container .sister-title-text {
        letter-spacing: 15px;
        margin: -4px 10px 0 23px;
    }

    .world-section {
        margin-top: 80px;
        min-height: 55vw;
    }

    .world-section .world-content {
        width: 61.66vw;
        font-size: var(--fz20);
        letter-spacing: 5px;
        margin-right: -3px;
        line-height: 40px;
    }

    .village-section {
        margin-top: 150px;
    }

    .village-section .village-logo {
        margin-bottom: 30px;
    }

    .village-section .village-english {
        font-size: var(--fz18);
        letter-spacing: 3px;
        margin-right: -1px;
    }

    .village-section .village-chinese {
        font-size: 12px;
    }

    .village-section .village-description {
        font-size: 14px;
        line-height: 24px;
    }

    .village-section .village-item:hover .village-logo {
        height: 4.24vw;
        margin-bottom: 10px;
        margin-top: -40px;
    }

    .village-section .village-item:hover .village-description {
        margin-top: 20px;
        margin-bottom: 120px;
    }

    .world-section .title,
    .world-section .world-content,
    .village-section .village-item,
    .village-section .village-divider,
    .sister-card {
        transform: translateY(0px);
        opacity: 1;
    }

    .sister-section {
        margin: 100px 0;
    }

    .sisters {
        margin-top: 5vw;
    }

    .sister-img .sister-text {
        letter-spacing: 5px;
        margin-right: -3px;
    }

    .state:hover {
        transform: scale(1);
        filter: none;
    }

    #cancel-younger {
        top: -15%;
        right: -10%;
        width: 3vw;
    }

    #cancel-elder {
        top: -16%;
        left: -7%;
        width: 3vw;
    }
}

@media only screen and (min-width: 0px) and (max-width: 430px) {
    .world-section {
        height: 125vw;
        margin-top: 0;
    }

    .world-section .world-content {
        width: 77.78vw;
    }

    .village-section {
        margin-top: 50px;
        height: 250vw;
        max-height: 250vw;
    }

    .village-section .village-content {
        height: 250vw;
        max-height: 250vw;
        flex-direction: column;
        margin-top: 50px;
    }

    .village-section .village-divider {
        display: none;
    }

    .village-section .village-item {
        width: 40vw;
        max-width: auto;
        height: 40vw;
        max-height: auto;
        margin: 20px 0;
    }

    .village-section .village-logo {
        height: 25vw;
    }

    .village-section .village-item:hover .village-logo {
        height: 25vw;
        margin-top: -20px;
    }

    .village-section .village-description {
        width: 80vw;
        max-width: auto;
    }

    .village-section .village-item:hover .village-description {
        margin-bottom: 100px
    }

    .sister-section {
        margin: 120px 0 50px;
        overflow-x: hidden;
    }

    .sisters {
        margin-top: 0px;
        height: 85vw;
    }

    .sister-card {
        margin-top: 40px;
        width: 48vw;
    }

    .sister-text-bg {
        width: 48vw;
        top: 10px
    }

    #text-younger {
        left: 20%;
        top: 6%;
    }

    #text-elder {
        left: 30%;
        top: 5%;
    }

    #cancel-elder,
    #cancel-younger {
        top: -20%;
    }

    .sister-img {
        margin-top: 0px;
    }

    .sister-img .sister-text {
        width: 30vw;
        line-height: unset;
        font-size: 2.9vw
    }

}