/* title / other */

.home-container .title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 5px #FFFEF3);
    transition: all .5s ease;
    font-size: 45px;
    text-align: left;
}

.home-container .title_text {
    letter-spacing: 8px;
    margin-right: -6px;
}

.home-container {
    overflow-x: hidden;
}

/* intro */

.intro-overlay {
    width: 100%;
    height: auto;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
}

.intro-overlay .intro-logo {
    width: 33.34vw;
    height: 25.70vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    animation: logo_fadein 3s linear;
    z-index: 100;
}

.intro-overlay .intro-logo img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.intro-overlay .intro-logo img:last-child {
    animation: flash 2s linear infinite;
    width: 70%;
}

.intro-overlay .intro-parallax {
    width: 100%;
    margin-bottom: -10px;
}


@keyframes logo_fadein {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        filter: drop-shadow(0 0 5px #FFDE89);
    }

    50% {
        filter: drop-shadow(0 0 5px #ffde8928);
    }

    100% {
        filter: drop-shadow(0 0 5px #FFDE89);
    }
}

.intro-gif {
    position: absolute;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.intro-arrow {
    position: absolute;
    top: 40vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* feature */

.feature-section {
    width: 100%;
    min-height: 60.63vw;
    background-image: url("../assets/images/feature_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    margin-top: -10px;
    padding-top: 10px;
}

.feature-section img {
    filter: drop-shadow(0 0 5px #FFDE89);
    width: 23vw;
}

.feature-section .feature-description {
    filter: drop-shadow(0 0 5px #FFFEF3);
    width: 56.94vw;
    max-width: 820px;
    font-size: var(--fz30);
    letter-spacing: 5px;
    margin-right: -3px;
    line-height: 60px;
}

.feature-section :nth-child(2n) {
    margin-top: 60px;
}

/* story */

.story-section {
    width: 100%;
    min-height: 870px;
    background-image: url("../assets/images/story_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.story-section .story-content {
    width: 77.78vw;
    max-width: 1120px;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

.story-section .story-text:first-child {
    margin-top: -30px;
}


.story-section img {
    filter: drop-shadow(0 0 10px #FFFEF3);
}

.story-section .story-description {
    text-align: left;
    font-size: var(--fz28);
    letter-spacing: 5px;
    margin-right: -3px;
    line-height: 50px;
    margin-top: 40px;
    filter: drop-shadow(0 0 5px #FFFEF3);
}

.story-section .story-content p {
    display: inline;
}

.story-section .story-content p::after {
    content: " ";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 96px;
    background-color: white;
}

/* tobii */

.tobii-section {
    min-height: 53.47vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tobii-section .tobii-description {
    font-size: var(--fz28);
    letter-spacing: 5px;
    margin-right: -3px;
    line-height: 50px;
    filter: drop-shadow(0 0 5px #FFFEF3);
}

.tobii-section img {
    margin: 7.64vw 0 8.84vw;
    filter: drop-shadow(0 0 5px #FFFEF3);
    width: 11.81vw;
}


.tobii-link a {
    font-size: var(--fz28);
    letter-spacing: 8px;
    border: #fff 2px solid;
    border-radius: 100px;
    padding: 1.74vw 4.79vw 1.88vw 5.21vw;
    transition: all .5s ease-in-out;
    cursor: pointer;
    filter: drop-shadow(0 0 5px #FFFEF3);
}

.tobii-link a:hover {
    color: #000;
    background-color: #fff;
}

/* magic */

.magic-section {
    min-height: 60.61vw;
    background-image: url("../assets/images/magic_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.magic-section .magic-content {
    width: 77.78vw;
    max-width: 1120px;
    display: grid;
    grid-template-columns: 64% 36%;
    align-items: center;
}

.home-container .introduce .title {
    margin-bottom: 10px;
}

.home-container .video-block {
    width: 49.72vw;
    max-width: 716px;
    height: 27.96vw;
    max-height: 402.75px;
    margin-top: 20px;
    background-color: #000;
    z-index: 2;
}

.magic-section .video-control-left,
.magic-section .video-control-right {
    display: flex;
}

.magic-section .video-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    z-index: 1;
}

.magic-section .video-number {
    font-size: var(--fz24);
    font-weight: 800;
    letter-spacing: 2px;
    margin-right: -1px;
    line-height: 25px;
    background-color: white;
    color: #000;
    padding: 0.14vw 0.49vw 0.21vw 0.63vw;
}


.magic-section .video-text {
    font-size: var(--fz24);
    letter-spacing: 2px;
    margin: -0.14vw 0 0 1.73vw;
    width: auto;
}

.magic-section .video-prev {
    width: 30px;
    height: 30px;
    margin-right: 2.22vw;
}

.magic-section .video-next {
    width: 30px;
    height: 30px;
}

.magic-section .video-prev img,
.magic-section .video-next img {
    position: relative;
    width: 100%;
    transform: translateY(-100px);
}

.magic-img {
    margin-left: 30px;
    filter: drop-shadow(0 0 10px #FFFEF3);
    width: 28.19vw;
    max-width: 405px;
    z-index: 3;
}

@keyframes clickme {
    0% {
        filter: drop-shadow(rgba(255, 255, 255, 1) 0 100px);
    }

    50% {
        filter: drop-shadow(rgba(255, 255, 255, 0.5) 0 100px);
    }

    100% {
        filter: drop-shadow(rgba(255, 255, 255, 1) 0 100px);
    }
}

/* ordeal */

.ordeal-section {
    min-height: 60.61vw;
    background-image: url("../assets/images/ordeal_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.ordeal-section .ordeal-content {
    width: 77.78vw;
    max-width: 1120px;
    display: grid;
    grid-template-columns: 36% 64%;
    align-items: center;
}

.home-container .introduce-content {
    margin-top: 30px;
    font-size: var(--fz28);
    letter-spacing: 8px;
    margin-right: -6px;
    text-align: left;
}

.ordeal-section .ordeal-img {
    width: 36.46vw;
    max-width: 525px;
    height: 47.57vw;
    max-height: 685px;
}

.ordeal-img :first-child {
    position: absolute;
    left: 0;
    top: 0;
    filter: drop-shadow(0 0 10px #FFFEF3);
    z-index: 100;
    width: 16.32vw;
    max-width: 235px;
}

.ordeal-img :last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 33.26vw;
    max-width: 478px;
}

/* crisis */

.crisis-section {
    min-height: 60.61vw;
    background-image: url("../assets/images/crisis_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.crisis-section .crisis-content {
    width: 77.78vw;
    max-width: 1120px;
    display: grid;
    grid-template-columns: 64% 36%;
    align-items: flex-end;
}


.crisis-img {
    margin-left: -54.93%;
    filter: drop-shadow(0 0 10px #FFFEF3);
    width: 42.64vw;
    max-width: 614px;
    z-index: 3;
}

/* awards */

.awards-section {
    min-height: 72.92vw;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 10px #FFFEF3);
}

.awards-section .awards-content {
    width: 72.22vw;
    max-width: 1040px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.award {
    width: 31.25vw;
    max-width: 450px;
    height: 17.36vw;
    max-height: 250px;
    background-image: url("../assets/images/awards_bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    font-size: var(--fz24);
    letter-spacing: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.award p {
    margin: 10px -1px 10px 0;
}

.award :last-child {
    font-size: 40px;
    font-weight: 700;
}


/* sale */

.sale-section {
    width: 100%;
    height: 1100px;
    background-image: url("../assets/images/sale_bg.png");
    background-position: center bottom;
    background-repeat: no-repeat;
}

.sale-section .sale-content {
    width: 570px;
    height: 500px;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    filter: drop-shadow(0 0 5px #FFFEF3);
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sale-section .sale-year {
    font-size: 40px;
    letter-spacing: 15px;
    margin-right: -13px;
    font-weight: 200;
}

.sale-section .sale-date {
    font-size: 78px;
    letter-spacing: 25px;
    margin: 15px -23px 25px 0px;
    font-weight: 200;
}

.sale-section .sale-release-chinese {
    font-size: 40px;
    letter-spacing: 15px;
    margin-right: -13px;
    font-weight: 200;
}

.sale-section .sale-release-english {
    font-size: 32px;
    letter-spacing: 12px;
    margin-right: -6px;
    font-weight: 200;
}

.sale-section .sale-platforms {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    width: 490px;
}

.sale-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* RWD */

@media only screen and (min-width: 0px) and (max-width: 834px) {
    .home-container .title {
        margin-bottom: 20px;
        font-size: 25px;
    }

    .feature-section {
        min-height: 75.63vw;
    }

    .feature-section .feature-description {
        width: 71.94vw;
        line-height: 40px;
    }

    .feature-section :nth-child(2n) {
        margin-top: 45px;
    }

    .story-section .title {
        justify-content: center;
    }

    .story-section .story-content {
        max-width: 57.79vw;
        grid-template-columns: 100%;
        align-items: center;
        justify-content: center;
    }

    .story-section .story-img-pad {
        margin: 0 auto;
        width: 100%;
    }

    .story-section .story-description {
        letter-spacing: 4px;
        margin-right: -2px;
        line-height: 30px;
        margin-top: 40px;
    }

    .story-section .story-content p::after {
        display: none;
    }

    .tobii-section {
        min-height: 65.13vw;
        margin-bottom: 80px;
    }

    .home-container .introduce .title {
        margin-bottom: 5px;
    }

    .magic-section .text {
        margin: 0.4vw 0vw 0 1.73vw;
    }

    .magic-section .video-prev,
    .magic-section .video-next {
        transform: scale(0.6);
        margin-top: 0.4vw;
    }

    .awards-section .awards-content {
        width: 72.66vw;
    }

    .award :last-child {
        font-size: 25px;
    }

}

@media only screen and (min-width: 0px) and (max-width: 430px) {
    .intro-overlay .intro-logo {
        top: 20px
    }

    .feature-section {
        min-height: 140vw;
    }

    .feature-section img {
        width: 50vw;
    }

    .feature-section .feature-description {
        width: 77.78vw
    }

    .story-section .story-content {
        max-width: 77.78vw
    }

    .tobii-section {
        min-height: 65.13vw;
        margin-bottom: 120px;
    }

    .tobii-section .content {
        letter-spacing: 3px;

    }

    .home-container .title_text {
        letter-spacing: 5px;
        text-align: left;
    }

    .magic-section .magic-content,
    .ordeal-section .ordeal-content,
    .crisis-section .crisis-content {
        grid-template-columns: 100%;
    }

    .home-container .video-block {
        width: 100%;
        max-width: auto;
        height: auto;
        max-height: auto;
    }

    .awards-section {
        margin-top: 80px;
    }

    .awards-section .awards-content {
        flex-direction: column;
    }

    .award {
        width: 60vw;
        max-width: auto;
        height: 50vw;
        max-height: auto;
        background-position: center;

    }

    .sale-section {
        height: 860px;
        background-size: cover;
        background-position: center;
    }

    .sale-section .sale-platforms {
        width: 290px;
    }

    .sale-section .sale-platforms img {
        width: 20%;
    }
}