/* title */

.team .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 0;
    filter: drop-shadow(0 0 5px #FFFEF3);
}

.team .title-top {
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 15px;
    margin-right: -13px;
    font-weight: 400;
}

.team .title-bottom {
    font-size: 12px;
    font-weight: 100;
    margin-left: 4px;
    margin-top: 5px
}

/* team-group */

.team{
    width: 78.13vw;
    max-width: 1125px;
    margin: 150px auto 0;
}

.team-group {
    margin-top: 10.42vw;
}

.team-group .team-members {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    margin: 20px;
}

.team-group:first-child .team-members {
    background-image: url("../assets/images/team_bg_text.png");
    background-repeat: no-repeat;
    background-position: -10% 10%;
    background-size: contain;
}

.team-group .team-member {
    filter: drop-shadow(0 0 5px #FFFEF3);
    width: 21%;
}

.team-group .team-member img{
    width: 100%;
}

.team-group .team-member p {
    font-weight: 300;
    letter-spacing: 5px;
    margin-right: -3px;
}

.team-group .team-member :nth-child(2) {
    padding: 20px 0 10px;
    font-size: 26px;
}

.team-group .team-member :nth-child(3) {
    font-size: 22px;
}

@media only screen and (min-width: 0px) and (max-width: 834px) {
    .team .title-top {
        font-size: 26px;
        letter-spacing: 15px;
    }

    .team .title-bottom {
        font-size: 12px;
        margin-left: 0px;

    }

    .team-members {
        display: flex;
        flex-wrap: wrap;
    }

    .team-member {
        margin-bottom:  100px;
    }

    .team-member:last-child{
        margin-bottom:  40px;

    }

    .team-group:first-child .team-members {
        background-image: url("../assets/images/team_bg_text2.png");
        background-repeat: no-repeat;
        background-position: 50% 45%;
        background-size: contain;
    }

    .team-group .team-member {
        width: 46%;
    }

}

@media only screen and (min-width: 0px) and (max-width: 430px) {
    .team{
        margin-top: 100px;
    }
    .team .title {
        align-items: center;
    }

    .team-group {
        margin-top: 100px;
    }

    .team-group:first-child .team-members {
        background-image: none
    }
    .team-group .team-member {
        width: 100%;
    }

}